<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanxia.market.dao.ShoppingUserTokenDao" >
  <resultMap id="BaseResultMap" type="com.sanxia.market.entity.ShoppingUserToken" >
	<id column="id" property="id"  />
	 <result column="token" property="token"  />
	 <result column="user_id" property="userId"  />
	 </resultMap>
  <sql id="Base_Column_List" >
   id,
   token,
   user_id
  </sql>

  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shopping_user_token
 	where  id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="listBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from shopping_user_token
    <where>
      <include refid="condition_sql"/>
    </where>
  </select>

  <select id="getBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from shopping_user_token
    <where>
      <include refid="condition_sql"/>
    </where>
  </select>
  
  <sql id="condition_sql">
   <if test="id != null and id != ''"> and  id =#{id,jdbcType=VARCHAR} </if>
   <if test="token != null and token != ''"> and  token =#{token,jdbcType=VARCHAR} </if>
   <if test="userId != null and userId != ''"> and  user_id =#{userId,jdbcType=VARCHAR} </if>
  </sql>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from shopping_user_token 
    <where>
      <include refid="condition_sql" />
    </where>
 <!--   <![CDATA[ order by create_time desc limit #{pageFirst}, #{pageSize}]]> -->
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="long">
    select count(1) from  shopping_user_token
    <where>
      <include refid="condition_sql" />
    </where>
  </select>




  <insert id="insertOne" parameterType="com.sanxia.market.entity.ShoppingUserToken" >
    insert into shopping_user_token (
   id,
      token,
      user_id
    )
    values (
 	#{id,jdbcType=VARCHAR},
 	#{token,jdbcType=VARCHAR},
#{userId,jdbcType=VARCHAR} 	) </insert>

  <update id="updateOne" parameterType="com.sanxia.market.entity.ShoppingUserToken" >
    update shopping_user_token
    set 
  	id	=#{id,jdbcType=VARCHAR},
  	token	=#{token,jdbcType=VARCHAR},
  	user_id	= #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

   <delete id="delete" parameterType="String">
		delete from
		shopping_user_token
		where  id = #{id,jdbcType=VARCHAR}
	</delete>
</mapper>