<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sanxia.market.dao.ShoppingAccessoryDao" >
  <resultMap id="BaseResultMap" type="com.sanxia.market.entity.ShoppingAccessory" >
	<id column="id" property="id"  />
	 <result column="addTime" property="addTime"  />
	 <result column="deleteStatus" property="deleteStatus"  />
	 <result column="ext" property="ext"  />
	 <result column="height" property="height"  />
	 <result column="info" property="info"  />
	 <result column="name" property="name"  />
	 <result column="path" property="path"  />
	 <result column="size" property="size"  />
	 <result column="width" property="width"  />
	 <result column="album_id" property="albumId"  />
	 <result column="user_id" property="userId"  />
	 <result column="config_id" property="configId"  />
	 </resultMap>
  <sql id="Base_Column_List" >
   id,
   addTime,
   deleteStatus,
   ext,
   height,
   info,
   name,
   path,
   size,
   width,
   album_id,
   user_id,
   config_id
  </sql>

  <select id="getById" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shopping_accessory
 	where  id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="listBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from shopping_accessory
    <where>
      <include refid="condition_sql"/>
    </where>
  </select>

  <select id="getBy" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from shopping_accessory
    <where>
      <include refid="condition_sql"/>
    </where>
  </select>
  
  <sql id="condition_sql">
   <if test="id != null and id != ''"> and  id =#{id,jdbcType=VARCHAR} </if>
   <if test="addTime != null and addTime != ''"> and  addTime =#{addTime,jdbcType=VARCHAR} </if>
   <if test="deleteStatus != null and deleteStatus != ''"> and  deleteStatus =#{deleteStatus,jdbcType=VARCHAR} </if>
   <if test="ext != null and ext != ''"> and  ext =#{ext,jdbcType=VARCHAR} </if>
   <if test="height != null and height != ''"> and  height =#{height,jdbcType=VARCHAR} </if>
   <if test="info != null and info != ''"> and  info =#{info,jdbcType=VARCHAR} </if>
   <if test="name != null and name != ''"> and  name =#{name,jdbcType=VARCHAR} </if>
   <if test="path != null and path != ''"> and  path =#{path,jdbcType=VARCHAR} </if>
   <if test="size != null and size != ''"> and  size =#{size,jdbcType=VARCHAR} </if>
   <if test="width != null and width != ''"> and  width =#{width,jdbcType=VARCHAR} </if>
   <if test="albumId != null and albumId != ''"> and  album_id =#{albumId,jdbcType=VARCHAR} </if>
   <if test="userId != null and userId != ''"> and  user_id =#{userId,jdbcType=VARCHAR} </if>
   <if test="configId != null and configId != ''"> and  config_id =#{configId,jdbcType=VARCHAR} </if>
  </sql>

  <select id="listPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from shopping_accessory 
    <where>
      <include refid="condition_sql" />
    </where>
 <!--   <![CDATA[ order by create_time desc limit #{pageFirst}, #{pageSize}]]> -->
  </select>

  <select id="listPageCount" parameterType="java.util.Map" resultType="long">
    select count(1) from  shopping_accessory
    <where>
      <include refid="condition_sql" />
    </where>
  </select>




  <insert id="insertOne" parameterType="com.sanxia.market.entity.ShoppingAccessory" >
    insert into shopping_accessory (
   id,
      addTime,
      deleteStatus,
      ext,
      height,
      info,
      name,
      path,
      size,
      width,
      album_id,
      user_id,
      config_id
    )
    values (
 	#{id,jdbcType=VARCHAR},
 	#{addTime,jdbcType=VARCHAR},
 	#{deleteStatus,jdbcType=VARCHAR},
 	#{ext,jdbcType=VARCHAR},
 	#{height,jdbcType=VARCHAR},
 	#{info,jdbcType=VARCHAR},
 	#{name,jdbcType=VARCHAR},
 	#{path,jdbcType=VARCHAR},
 	#{size,jdbcType=VARCHAR},
 	#{width,jdbcType=VARCHAR},
 	#{albumId,jdbcType=VARCHAR},
 	#{userId,jdbcType=VARCHAR},
#{configId,jdbcType=VARCHAR} 	) </insert>

  <update id="updateOne" parameterType="com.sanxia.market.entity.ShoppingAccessory" >
    update shopping_accessory
    set 
  	id	=#{id,jdbcType=VARCHAR},
  	addTime	=#{addTime,jdbcType=VARCHAR},
  	deleteStatus	=#{deleteStatus,jdbcType=VARCHAR},
  	ext	=#{ext,jdbcType=VARCHAR},
  	height	=#{height,jdbcType=VARCHAR},
  	info	=#{info,jdbcType=VARCHAR},
  	name	=#{name,jdbcType=VARCHAR},
  	path	=#{path,jdbcType=VARCHAR},
  	size	=#{size,jdbcType=VARCHAR},
  	width	=#{width,jdbcType=VARCHAR},
  	album_id	=#{albumId,jdbcType=VARCHAR},
  	user_id	=#{userId,jdbcType=VARCHAR},
  	config_id	= #{configId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

   <delete id="delete" parameterType="String">
		delete from
		shopping_accessory
		where  id = #{id,jdbcType=VARCHAR}
	</delete>
</mapper>